button{
  cursor: pointer;
}

.grid{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}

.gridButton{
  border: 1px solid lightgray;
  aspect-ratio: 1/1;
}

.colorbuttonGroup{
  width: 15%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 1%;
}

.colorButton{
  width: 16.66666666666667%;
  border: 2px solid black;
}


.activeColor{
  border: 2px solid black;
  aspect-ratio: 1/1;
}

.sideButtons{
  margin-left: 2%;
  font-family: 'sawarabi gothic', sans-serif;
}

.sideButtons button{
  color: white;
  font-size: 1rem;
  width: 150px;
  border: none;
  margin-bottom: 20%;
  padding: 15%;
  border-radius: 1.5rem;
  background-color: black;
}

.sideButtons >p{
  margin-top: 5%;
}

.pageContainer{
  display: flex;
  width: 100%;
  flex-direction: row;
  text-align: center;
}
