button{
  cursor: pointer;
}

.grid{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

.gridButton{
  border:0.1px solid lightgray;
  box-sizing: border-box;
  aspect-ratio: 1/1;
}

.colorbuttonGroup{
  width: 15%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 1%;
}

.colorButton{
  width: 16.66666666666667%;
  border: 2px solid black;
}

.eraserButton{
  border-style: dotted;
}



.activeColor{
  border: 2px solid black;
  height: 17%;
}

.sideButtons{
  margin-left: 2%;
  font-family: 'sawarabi gothic', sans-serif;
}

.sideButtons button{
  color: white;
  font-size: 1rem;
  width: 100%;
  border: none;
  margin-bottom: 20%;
  padding: 15%;
  border-radius: 1.5rem;
  background-color: lightskyblue;
}

.sideButtons button:hover{
  background-color: aqua;
  transition: 0.5s;
}

.sideButtons >p{
  margin-top: 5%;
}

.hideGridCheckbox{
  margin-bottom: 10%;
}
.pageContainer{
  display: flex;
  width: 100%;
  flex-direction: row;
  text-align: center;
}


@media screen and (max-width: 768px){
 .pageContainer{
   flex-direction: column;
 }
 .grid{
  width: 100%;
  margin-bottom: 1%;
 }

 .colorbuttonGroup{
   width: 100%;
   margin-left: 0%;
   margin-bottom: 1%;
 }

 .colorButton{
   width: 7%;
   aspect-ratio: 1/1;
 }
.activeColor{
  width: 100%;
  height: 30px;
}
 .sideButtons button{
    width: 100%;
    margin-bottom: 5%;
    padding: 5%;
    border-radius: 1.5rem;
    background-color: lightskyblue;
 }
}
  
